:root {
  /*--------------------------------------
        COLORS
    --------------------------------------*/
  --color-primary: #E67E22;
  --color-primary-dark:#CF6D17;
  --color-grey-dark-1: #555;
  --color-grey-light-1: #f2f2f2;
  --color-white: #fff; }

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: var(--color-grey-dark-1); }

h1,
.hero__text-box span,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase; }

h1,
.hero__text-box span {
  font-size: 4.5rem;
  word-spacing: 4px; }

h1,
.hero__text-box span,
h2 {
  letter-spacing: 1px; }

h2 {
  font-size: 3.25rem;
  word-spacing: 2px;
  text-align: center;
  margin: 3rem; }

h2::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--color-primary);
  width: 10rem;
  margin: auto;
  margin-top: 3rem; }

h3 {
  font-size: 2rem; }

p {
  font-size: 1.5rem; }

ion-icon {
  font-size: 5rem;
  color: var(--color-primary); }

.u-margin-left {
  margin-left: 3rem; }

.button {
  text-decoration: none;
  padding: 1rem 3rem;
  border: 1.5px solid var(--color-primary);
  border-radius: 10rem;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: .5px; }
  .button--main {
    color: var(--color-white);
    background-color: var(--color-primary); }
  .button--secondary {
    color: var(--color-primary); }

.feature__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto; }

.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 23%;
  margin: 1rem;
  padding: 3rem;
  background-color: var(--color-grey-light-1);
  transition: all .2s; }
  @media only screen and (max-width: 75em) {
    .feature__card {
      width: 48%; } }
  .feature__card--title {
    margin: 3rem 0 1rem 0;
    text-align: center; }
  .feature__card--text {
    text-align: center;
    padding: 2rem; }
  .feature__card:hover {
    transform: translateY(-1.5rem) scale(1.02); }

.gallery {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid var(--color-grey-light-1); }
  .gallery__img-container {
    width: 25%;
    overflow: hidden;
    height: auto; }
    @media only screen and (max-width: 75em) {
      .gallery__img-container {
        width: 50%; } }
  .gallery__img {
    width: 100%;
    height: auto;
    opacity: .8;
    transform: scale(1.1);
    transition: all .4s; }
    .gallery__img:hover {
      opacity: 1;
      transform: scale(1.2); }

.locations__carousel {
  display: flex;
  margin: 7rem; }
  @media only screen and (max-width: 75em) {
    .locations__carousel {
      overflow: hidden; } }

.locations__container {
  padding: 1rem; }

.locations__img-container {
  margin-bottom: 1.5rem; }

.locations__img {
  max-width: 100%;
  min-width: 25rem; }

.locations__city {
  text-align: center; }

.locations__text-container {
  display: flex;
  justify-content: center;
  align-items: center; }
  .locations__text-container--customers, .locations__text-container--chefs, .locations__text-container--twitter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: .75rem; }
  .locations__text-container--icon {
    font-size: 2rem;
    margin: .5rem; }
    .locations__text-container--icon:not(:first-child) {
      margin-left: .5rem; }
  .locations__text-container--text {
    font-size: 1rem;
    text-align: center; }

.header {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url(/images/hero.jpg);
  background-size: cover;
  background-position: center;
  color: var(--color-white);
  height: 95vh; }
  .header__header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 7.5rem; }
  .header__logo {
    width: 10rem;
    height: 10rem; }

.navigation__list {
  display: flex;
  justify-content: center;
  list-style: none; }

.navigation__item {
  position: relative;
  font-size: 1.75rem;
  font-weight: 70;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .navigation__item:not(:last-child) {
    margin-right: 2.5rem; }

.navigation__link {
  text-decoration: none;
  color: inherit;
  margin: 1rem 2rem;
  border-radius: 100px; }
  .navigation__link:after {
    content: "";
    display: block;
    margin-top: .5rem;
    width: 50%;
    height: 1px;
    background-color: transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .navigation__link:hover:after {
    background-color: var(--color-primary); }

.hero {
  margin-top: 10rem;
  margin-left: 20rem; }
  .hero__text-box {
    padding-bottom: 4rem; }

/* --------------------------------------
        FEATURES SECTION
-------------------------------------- */
.feature {
  padding: 8rem 0; }
  .feature__text-box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .feature__description {
    width: 70%;
    padding-bottom: 5rem; }

/* --------------------------------------
        CONCEPT SECTION
-------------------------------------- */
.concept {
  padding: 8rem 0;
  background-color: var(--color-grey-light-1); }
  .concept__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem; }
  .concept__img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem; }
  .concept__img {
    height: 80%; }
    @media only screen and (max-width: 56.25em) {
      .concept__img {
        display: none; } }
  .concept__step-container {
    margin-left: 6rem; }
  .concept__step {
    display: flex;
    align-items: center; }
    .concept__step-number-box {
      position: relative;
      font-size: 2rem;
      margin: 2rem 2rem 2rem 0;
      height: 5rem;
      width: 5rem;
      border: 1px solid var(--color-primary);
      border-radius: 100rem; }
    .concept__step-number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-primary); }

.download-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .download-links__icon {
    height: 4rem;
    width: 8rem;
    color: var(--color-black);
    margin-top: 1.5rem; }
  .download-links__text {
    display: block;
    font-weight: 600; }

/* --------------------------------------
        LOCATIONS SECTION
-------------------------------------- */
