:root {

    /*--------------------------------------
        COLORS
    --------------------------------------*/
    --color-primary: #E67E22;
    --color-primary-dark:#CF6D17;

    --color-grey-dark-1: #555;

    --color-white: #fff;

}
