.header {
    background-image: linear-gradient(to top, 
                                 rgba(0, 0, 0, .3), 
                                 rgba(0, 0, 0, .6)),
                                 url(/images/hero.jpg);
    background-size: cover;
    background-position: center;
    color: var(--color-white);

    height: 95vh;

    &__header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3rem 7.5rem;

    }

    &__logo {
        width: 10rem;
        height: 10rem;
    }
}

.navigation {
    &__list {
        
        display: flex;
        justify-content: center;
        list-style: none;

    }

    &__item{
        position: relative;
        font-size: 1.75rem;
        font-weight: 70;
        letter-spacing: 1px;
        text-transform: uppercase;

        &:not(:last-child) {
            margin-right: 2.5rem;
        }

    }

    &__link {
        text-decoration: none;
        color: inherit;
        margin: 1rem 2rem;
        border-radius: 100px;

        &:after {
            content: "";
            display: block;
            margin-top: .5rem;
            width: 50%;
            height: 1px;
            background-color: transparent;

            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -50%);
            
        }

        &:hover:after {
            background-color: var(--color-primary);
        }
    }
}

.hero {
    margin-top: 10rem;
    margin-left: 20rem;

    &__text-box {
        padding-bottom: 4rem;
    }

}
