/* --------------------------------------
        FEATURES SECTION
-------------------------------------- */

.feature {
    padding: 8rem 0;

    &__text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    &__description {
        width: 70%;
        padding-bottom: 5rem;

    }
}

/* --------------------------------------
        CONCEPT SECTION
-------------------------------------- */

.concept {
    padding: 8rem 0;
    background-color: var(--color-grey-light-1);

    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
    }

    &__img-container {   
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40rem;
    }

    &__img {
        height: 80%;

        @include respond (tab-port) {
            display: none;
        }
    }

    &__step-container {
        margin-left: 6rem;
    }

    &__step {
        display: flex;
        align-items: center;
         
        &-number-box {
            position: relative;
            font-size: 2rem;
            margin: 2rem 2rem 2rem 0;
            height: 5rem;
            width: 5rem;

            border: 1px solid var(--color-primary);
            border-radius: 100rem;
        }

        &-number {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            color: var(--color-primary);
        }
    }
}

.download-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__icon{
        height: 4rem;
        width: 8rem;
        color: var(--color-black);
        margin-top: 1.5rem;
        
    }

    &__text {
        display: block;
        font-weight: 600;
        
    }
}

/* --------------------------------------
        LOCATIONS SECTION
-------------------------------------- */